@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --black: #040403ff;
  --primary: #696969;
  --primary-500: #9b9b9b;
  --primary-250: #bbbbbb;
  --secondary: #82b08cff;
  --accent: #9ddbadff;
  --accent-second: #c3e8bdff;

  --bg: #f6f6f6;
  --bg-light: #fafafa;
  --bg-md: #f0f0f0;
  --bg-dark: #eaeaea;

  --space-half: 4px;
  --space-1x: 8px;
  --space-2x: 16px;
  --space-3x: 24px;
  --space-4x: 32px;
  --space-5x: 40px;
  --space-6x: 48px;
  --space-7x: 56px;
  --space-10x: 80px;
}
* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;

  height: 100vh;
  color: var(--primary);
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 2.489rem; /* 39.84px */
}

h2,
.h2 {
  font-size: 2.074rem; /* 33.12px */
}

h3,
.h3 {
  font-size: 1.728rem; /* 27.68px */
}

h4,
.h4 {
  font-size: 1.44rem; /* 23.04px */
}

h5,
.h5 {
  font-size: 1.2rem; /* 19.2px */
}

small,
.small {
  font-size: 0.833rem; /* 13.28px */
}

.icon-lg {
  width: 80px;
}
.icon-md {
  width: 40px;
}
.icon-sm {
  width: 32px;
}
.icon-xs {
  width: 20px;
}

.temp-display {
  font-size: 5rem;
  margin: 0;
}

/* Main container */
.main-container {
  width: 1150px;

  /* min-height: 500px;
  height: 80vh;
  max-height: 760px; */

  /* height: min(760px, max(500px, 80vh)); */
  background-color: var(--bg-light);
  border-radius: var(--space-3x);
  padding: var(--space-5x);
  margin: var(--space-3x) 0;

  display: flex;
  flex-direction: column;
}

/* Nav */
nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--space-2x);
}

nav .search-box {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}

.search-btn {
  border: 0px;
  border-radius: var(--space-1x);
  padding: var(--space-1x);
  background-color: inherit;
}

.search-btn:hover {
  background-color: var(--bg-md);
  cursor: pointer;
}

nav input {
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  background-color: white;
  border: 1px solid var(--primary-500);
  border-radius: var(--space-2x);
  padding: var(--space-1x);
}

nav input:focus-visible {
  outline: 1px solid var(--primary);
}
/* Nav unit selector */
input[type="radio"] {
  appearance: none;
  display: none;
}

.temp-selector {
  display: flex;
  gap: var(--space-1x);
}

.radio-label {
  cursor: pointer;
  font-weight: 400;
  border-radius: var(--space-1x);
  padding: var(--space-1x);
}

.radio-label.checked {
  background-color: var(--bg-md);
}

/* dashboard */
.dashboard-wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3x);
  /* align-items: stretch;
  flex-grow: 1; */
}
aside {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: 230px;
}
/* Location */
.location-wrapper {
  text-align: center;
  margin: var(--space-4x) 0px;
}

.forecast-location {
  margin-bottom: var(--space-1x);
  font-weight: 500;
}

/* Forecast wrapper */
.forecast-wrapper {
  margin: var(--space-4x) 0 var(--space-6x);

  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-4x);
}

.forecast-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast-wrapper .limit-temp-forecast {
  display: flex;
  gap: var(--space-2x);
}
.limit-temp-forecast {
  margin: var(--space-1x) 0;
}
/* temp wrapper  */
.temp-wrapper {
  display: flex;
  gap: var(--space-4x);
}
/* Forecast element */
.detail-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}
.forecast-details > div:not(:last-child) {
  margin-bottom: var(--space-2x);
}

/* Week forecast   */
.week-forecast {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: var(--space-2x);
}
.day-forecast {
  width: 100px;
  border: 1px solid var(--primary-500);
  border-radius: var(--space-2x);
  padding: var(--space-2x);
  text-align: center;
}
.day-date {
  color: var(--primary-500);
  margin-top: var(--space-half);
}
.day-forecast > .icon-md {
  padding: var(--space-1x) 0;
}
.day-forecast-temp {
  font-weight: bold;
  font-size: larger;
}
/* Hours wrapper */
.hourly-title {
  font-weight: 500;
  margin-bottom: var(--space-2x);
}
.hours-forecast {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
  max-height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
}
.hour-forecast {
  display: flex;
  align-items: center;
  gap: var(--space-4x);
}
.hour {
  width: 45px;
  text-align: right;
}
.hour-temp {
  text-align: right;
}

/* Hours section scrollbar styling */
.hours-forecast::-webkit-scrollbar {
  width: 8px;
}
.hours-forecast::-webkit-scrollbar-track {
  background: var(--bg-md);
  border-radius: var(--space-6x);
}
.hours-forecast::-webkit-scrollbar-thumb {
  background: var(--primary-250);
  border-radius: var(--space-6x);
}
